{% extends "base.html.twig" %}

{% block title %}
    Registrace
{% endblock %}

{% block body %}
    <div class="container">
        <div id="register-form" class="form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Zaregistrovat se">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}